
 
<p>Pour que le site reste un espace agréable, veuillez évaluer les autres participants de la sortie  en allant sur ce lien:</p>
<a href="{{ path('event_rating', {'slug':event.slug})}}">évaluation</a>
