{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

    <h1 class="h1 text-center">CGU : Conditions Générales d'Utilisation</h1>

    <p class="mt-3">Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part, <span class="font-weight-bold">Grekoss</span>, ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.</p>
    <p class="mt-3">Toute connexion au site est subordonnée au respect des présentes conditions.</p>
    <p class="mt-3">Pour l’utilisateur, le simple accès au site de l’EDITEUR à l’adresse URL suivante implique l’acceptation de l’ensemble des conditions décrites ci-après.</p>

    <h2 class="h2 mt-5 text-center">Propriété intellectuelle</h2>

    <p class="mt-3">La structure générale du site <span class="font-weight-bold">Prenons l'air</span>, ainsi que les textes, graphiques, images, sons et vidéos la composant, sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site <span class="font-weight-bold">Prenons l'air</span>.

    <p class="mt-3">Les marques "<span class="font-weight-bold">Prenons l'air</span>", "<span class="font-weight-bold">Grekoss</span>" sont des marques déposées.Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces marques, de quelque nature que ce soit, est totalement prohibée.</p>

{% endblock %}