{% extends 'moderator/base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('moderator/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('moderator_event_list') }}">back to list</a>

    {{ include('moderator/event/_delete_form.html.twig') }}

	<a href="{{ path('moderator_home') }}"><i class="fas fa-home"></i></a>
{% endblock %}