h1 {
	color: #004c8c;
	font-size: 3em;
}
.alltags{
	display: flex;
	flex-wrap: wrap;
}

div.alltags div.card-body {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

div.alltags div.card-body:hover {
	box-shadow: none;
}

.tag {
	width: 12rem;
	margin: 1rem;
	box-shadow: none;
	flex-wrap: wrap;
}

.formtag {
	width: 25%;
	margin-left: 1rem;
}

input#tag_backgroundColor.form-control {
	width: 3em;
	height: 3em;
	margin: 0;
	padding: 0;
}

input#tag_textColor.form-control {
	width: 3em;
	height: 3em;
	margin: 0;
	padding: 0;
}

div.card-body h3 {
	font-size: 1.5em;
	font-weight: bold;
}